#python
*.pyc
__pycache__/

# Mac
*.DS_Store
*.AppleDouble
*.LSOverride
*.icloud

*.ipynb_checkpoints
*.ipynb_checkpoints/

*.vscode
*.vscode/

/Example/data_dir_test
*.pdf

*.log

*.json

*pip_project/